@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #7EC384;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    padding: 10px;
    text-align: center;
    font-size: 1.75em;
    font-family: 'Poppins', sans-serif;
    color: #A3D2D5;
    background-color: #45625D;
    line-height: 1.1em;
}

p {
    padding: 10px;
    font-family: 'Anton', sans-serif;
    font-size: 1.25em;
    color: #A3D2D5;
    background-color: #3F7856;
    line-height: 1.25em;
}

nav {
    background-color: #45625D;
    display: flex;
    justify-content: space-around;
    padding: 1em;
}

nav a {
    text-align: center;
    background-color: #396E94;
    color: #D4AC0D;
    text-decoration: none;
}

nav a:hover {
    background-color: #7EC384;
    color: white
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.logo {
    width: 200px; 
    height: 100px; 
    position: relative;
}

header {
    display: grid; 
    grid-template-columns: 150px auto;
    background-color: #45625D;
}

img {
    max-width: 100%;
}

main section img {
    box-sizing: border-box;
}

main section {
    text-align: center;
}

#hero-img {
    width: 100%;
}

#hero-msg {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.home-title {
    background-color: #3F7856;
    color: #A3D2D5;
}

.book, .join {
    background-color: #396E94;
    color: #D4AC0D;
    border-radius: 5px;
    text-decoration: none;
    padding: 15px;
    box-shadow: 2px 6px 12px #000000;
}

.book:hover, .join:hover {
    background-color: #7EC384;
    color: white;
    box-shadow: 4px 4px 4px #000000;
}

.button-box {
    text-align: center;
    margin: 55px;
}

.card-img {
    width: 30%;
    height: 300px;
    box-shadow: 4px 4px 4px #000000;
    border: 10px solid #16697A;
    margin-left: -45px;
    transition: transform .5s;
    border-radius: 50%;
}

.card-img:hover {
    opacity: .75;
    transform: scale(1.1);
}

.icon {
    width: 80px;
    margin-top: 25px;
}

.river-card, .camping-card, .rapid-card {
    margin: 25px auto;
    width: 90%;
}

#background {
    height: 725px;
    background-color: #6AA5A9;
}

.mountains {
    width: 100%;
}

.msg {
    background-color: #3F7856;
    padding: 55px;
}

.msg h2 {
    font-size: 1.25em;
    color: #A3D2D5;
}

.msg p {
    font-size: .75em;
    color: #A3D2D5;
}

footer {
    background-color: #45625D;
    color: #A3D2D5;
    padding: 25px 50px;
    margin-top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#info {
    font-size: .5em;
    color:#D4AC0D
}

footer .social img {
    padding: 15px;
    width: 45px;
}

footer p a{
    color: #D4AC0D;
    font-size: .5em;
}

footer p a:hover {
    background-color: #000000;
    color:#EDE7E3;
    text-decoration: underline;
}
